.login{

.wrapper {	
	margin-top: 0px;
  margin-bottom: 80px;


.form-signin {
  max-width: 900px;
  /* padding: 15px 35px 45px; */
  margin: 0 auto;
  border: 1px solid black;  
	background: rgba(224,231,235,1);
	background: -moz-linear-gradient(rgba(224,231,235,1) 0%, rgba(246,246,246,1) 100%);
	background: -webkit-gradient( color-stop(0%, rgba(224,231,235,1)), color-stop(100%, rgba(246,246,246,1)));
	background: -webkit-linear-gradient( rgba(224,231,235,1) 0%, rgba(246,246,246,1) 100%);
	background: -o-linear-gradient( rgba(224,231,235,1) 0%, rgba(246,246,246,1) 100%);
	background: -ms-linear-gradient( rgba(224,231,235,1) 0%, rgba(246,246,246,1) 100%);
	background: linear-gradient( rgba(224,231,235,1) 0%, rgba(246,246,246,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e7eb', endColorstr='#f6f6f6', GradientType=1 );

  .black-row{
  	height:60px;
  	background-color:black;display:inline-block;width:100%;
  }

  .blue-row{
  	height:25px;
  	display:inline-block;
  	width:100%;
  	margin-top:-10px;
  	  &.color{
	  	background: rgba(73,155,234,1);
		background: -moz-linear-gradient( rgba(73,155,234,1) 0%, rgba(0,18,138,1) 100%);
		background: -webkit-gradient(color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(0,18,138,1)));
		background: -webkit-linear-gradient(rgba(73,155,234,1) 0%, rgba(0,18,138,1) 100%);
		background: -o-linear-gradient(rgba(73,155,234,1) 0%, rgba(0,18,138,1) 100%);
		background: -ms-linear-gradient(rgba(73,155,234,1) 0%, rgba(0,18,138,1) 100%);
		background: linear-gradient(rgba(73,155,234,1) 0%, rgba(0,18,138,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#00128a', GradientType=1 );
  	}
  }

 .parent {
  display: flex;
  height:300px;
}

.narrow {
  width: 400px;
  text-align:center;
  display:block;
  /* Just so it's visible 
  background: lightblue;*/

  	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	  margin-top:15px;

	  &.general-input-att{
	  	width:50%;
	  	height:40px;
	  	margin:0 auto;
	  }

	  &.mg-10{
	  	margin-top:10px;
	  }

	  &.mg-30{
	  	margin-top:30px;
	  }
	
	  &.mg-60{
	  	margin-left: -60px;
	  }

		&:focus {
		  z-index: 2;
		}
	}

	.btn{
		width:100px;
		height:40px;
		margin:0 auto;	
	}

	.link-color{
		color:#2D669F;
	}

	.mg-10{
	  	margin-top:10px;
	}

	.mg-60{
	  	margin-left: -60px;
	}

}

.wide {
  flex: 1;
  /* Grow to rest of container 
   background: lightgreen;*/
 
  display:block;
  /* Just so it's visible */

  .box{
  	border:1.5px solid #5285B4;
  	display:inline-block;
  	width:250px;
  	height:70px;
  	margin-top:50px;

  	.title-text{
  		color:#5285B4;
  		font-size:12px;
  		font-family:Arial;
  		font-weight:bold;
  		margin-top: 10px;
  		text-align: center;
  	}

  	.message{
  		border-top:2px solid white;
  		margin-top:5px;
  		width:80%;
  		font-size:12px;
  		margin-left:25px;

  		.mg-15{
  			margin-top:15px;
  		}
  	}
  }
}


  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	


	.checkbox {
	  font-weight: normal;
	  margin-left: -30px;
	}

	.btn-lg{
		line-height:1 !important;
		background-color: #2D669F !important;
	}


	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}


	.l-footer{
		height:40px;
		display:inline-block;
		width:100%;
		border-top:1px solid #CCCCCC;
		font-family:Arial;
		font-size:14px;

		.box1{
			display:inline-block;
			width:25%;
			margin-top:9px;
			padding-left:30px;
		}

		.box2{
			display:inline-block;
			width:24%;
		}

		.box3{
			display:inline-block;
			width:24%;
		}

		.box4{
			display:inline-block;
			width:25%;
			padding-left:40px;
		}
	}
}
}

}