<div class="login">
<div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading">Recover Pass</h2>
      <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" ng-model="username" />
      <input type="password" class="form-control" name="password" placeholder="E-mail" required="" ng-model="password"/>      
      <div class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Send</div>  
      <a class="btn btn-lg btn-primary btn-block" href="#/login">Back</a>  
    </form>

  </div>
</div>