<div class="orders l-background">
<div class="wrapper">
    <div class="form-signin">  
    <div ng-include="'../scripts/partial/header.html'"></div>
        <div class="jobs-table">

        <div class="title">
        <h2>Orders</h2>
        </div>

        <div class="header-filter">
                  <div class="title-filter">Filters: </div>
                  <select class="dropdown dropdown-position" ng-model="dropdownItm">
                    <option value="jobId">Job Id</option>
                    <option value="headline">HeadLine</option>
                    <option value="client">Client</option>
                  </select>
                  <!--
                  <div class="dropdown dropdown-position">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Select Filter
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="#">Filter 1</a></li>
                      <li><a href="#">Filter 2</a></li>
                      <li><a href="#">Filter 3</a></li>
                    </ul>
                  </div>-->
                  <div class="title-contains">contains</div>
                  <div class="input">
                    <input type="text" class="form-control input-text" ng-model="searchText"/>
                  </div>
                   <div style="background-color: #2D669F !important;display: inline-block;width: 100px;height: 30px;margin-left: 15px;margin-top: 6px;line-height: 2;padding-left: 25px;color: white;border-radius: 5px;" ng-click="search()">Search</div>
        </div>

        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" style="">
                <thead class="thead">
                    <tr>
                        <th>Order</th>
                        <th>Title</th>
                        <th>Client</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Job Number</th>
                        <th>Dist. ED</th>
                        <th>Created</th>
                        <th>Details</th>
                    </tr>
                </thead>
         
                <tbody class="tbody">
                    <tr ng-repeat="order in orders">
                            <td>{{ order.orderNumber }}</td>
                    <td>{{ order.title }}</td>
                    <td>{{ order.clientName }}</td>
                    <td>
                      <div ng-class="{'state-published': order.workflowState==='Published/Pending'}">{{ order.workflowState }}</div>
                    </td>
                    <td>{{ order.jobType }}</td>
                    <td>{{ order.jobId }}</td>
                    <td>{{ order.distributionEstimatedDate }}</td>
                    <td>{{ order.creationDate }}</td>
                    <td></td>
                    </tr>
                </tbody>
            </table>

        <a class="btn btn-lg btn-primary btn-block btn-job" href="#/form">Create Order</a>  
        </div>

  <div ng-include="'../scripts/partial/footer.html'"></div>
  </div>

</div>
</div>
