<div ng-controller="HeaderCtrl">
      <div class="black-row">
        <div class="dropdown position">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Select Language
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">English</a></li>
          <li><a href="#">Spanish</a></li>
          <li><a href="#">Italian</a></li>
        </ul>
      </div>
      <div class="nav-right">
        <div class="item">admin: PR Newswire |</div> 
        <div class="item" ng-click="userPreferences()" style="cursor:pointer; text-decoration: underline;">preferences |</div>
        <div class="item"><a href="http://localhost/omt-web/com.prnewswire.multivu.omt.main.Multivu/Multivu.html?to=notificationList><img src="../images/icon-mail.gif"></a></div>
        <div class="item">0 New Message |</div>
        <div class="item" ng-click="logout()" style="cursor:pointer; text-decoration: underline;">logout</div>
      </div>
      </div>
      <div class="blue-row color">
          <div class="nav">
            <div class="order-item">
              <a href="#/orders" class="text">Orders</a>
            </div>
            <div class="jobs-item">
              <a href="#/jobs" class="text">Jobs</a>
            </div>
            <div class="organization-item">
              <a href="http://localhost/omt-web/com.prnewswire.multivu.omt.main.Multivu/Multivu.html?to=organizationList" class="text">Organizations</a>
            </div>
            <div class="report-item">
              <a href="http://localhost/omt-web/com.prnewswire.multivu.omt.main.Multivu/Multivu.html?to=reportList" class="text">Report</a>
            </div>
            <div class="external-item">
              <a href="http://localhost/omt-web/com.prnewswire.multivu.omt.main.Multivu/Multivu.html?to=externalsList" class="text">Externals</a>
            </div>
            <div class="settings-item">
              <a href="http://localhost/omt-web/com.prnewswire.multivu.omt.main.Multivu/Multivu.html?to=settingsList" class="text">Settings</a>
            </div>
            <div class="other-item"></div>
          </div>
          </div>
</div>